{% extends 'base.html.twig' %}


{% block body %}
</section><!--End breadcrumb area--><!--Start blog single area-->
        <section class="blog-single-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                        <div class="blog-post">
                            <div class="blog-details-content">
                                <div class="img-holder">
                                <img src="images/ba.jpg" alt="Awesome Image">
                                </div>
                                <div class="text-holder">
                                    
                                    <h2 class="blog-title">Nous connaitre</h2>
                                    <div class="text">
                                        <p class="mar-bottom">
                                        La culture est un marqueur essentiel de l’identité des villes, un facteur de cohésion au sein des 
                                        communautés. Associés à une offre locale, culturelle, économique et touristique, les lieux culturels 
                                        s’affirment comme un repère et participent à la valorisation symbolique de la ville. Sans trahir leurs
                                         missions principales (les contenus des projets artistiques et culturels, la conservation et la diffusion
                                          des œuvres, l’accès à la culture pour tous les publics, le travail sur la cohésion sociale), les lieux
                                           culturels sont des points d’ancrage pertinents pour les politiques locales. Lieux de rassemblement et
                                            de mixité, ils participent à l’attrait touristique et économique local, et constituent parfois le 
                                            fer de lance d’une stratégie de destination. Les lieux culturels ont des vocations liées à l’histoire
                                             de leur territoire. Leur développement et leur rayonnement s’inscrivent dans un contexte territorial
                                             , un réseau d’acteurs et une communauté. 
                                        Ils constituent de formidables leviers identitaires et outils de différenciation.
                                        </p>
                                      
                                    </div>
                                </div>
                                
                            </div><!--Start tag box-->
                        </div>
                    </div><!--Start sidebar Wrapper-->
                   <!--End Sidebar Wrapper-->
                </div>
            </div>
        </section><!--End blog single area--><!--Start Partner Area Style3-->
        
{% endblock %}
